.capa{
    margin: 0 auto;
    background-image: url("img/katana_capa.png");
       
}

.blacktheme{
    width: 268px;
    height: 741px;
    background-color: #2D2D2D;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    

}

.logo{
    padding: 70 0 70 0;
}

.categorias{
    margin: 0 auto;
    width: 220px;
    border-radius: 30px;
    
    a:hover{
        border-radius: 30px;
        background-color: #E5C688;    
    }

    li{
        text-align: center;
        display: block;
    }
}

.logoEduzz{
    margin-top: 330px;
}

.capa{
    height:741px;
   margin-left: 268px;
}
.reconhecimento{
    margin:0 auto;
    display: flex;
    justify-content: center;    
    align-items: flex-end;
    width: 400px;
    background-color:purple;
}